<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>代码生成器</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
    <div id="app">
        <el-container>
            <el-aside width="200px">
                <el-row class="tac">
                    <el-col :span="6">
                        <el-menu default-active="1" class="el-menu-vertical-demo">
                            <el-menu-item index="1">
                                <i class="el-icon-setting"></i>
                                <span slot="title">
                                    <router-link to="/temp">模板管理</router-link>
                                </span>
                            </el-menu-item>
                            <el-menu-item index="2">
                                <i class="el-icon-setting"></i>
                                <span slot="title">
                                    <router-link to="/create">生成器</router-link>
                                </span>
                            </el-menu-item>
                        </el-menu>
                    </el-col>
                </el-row>
            </el-aside>
            <el-main>
                <router-view></router-view>
            </el-main>
        </el-container>
    </div>
</body>
<script src="lib/vue.js"></script>
<script src="lib/vue-router.js"></script>
<script src="lib/axios.min.js"></script>
<script src="lib/element-ui.js"></script>
<script src="component.js"></script>
<script src="router.js"></script>
<script>
    var app = new Vue({
        router,
        el: "#app"
    });
</script>

</html>